.todo-item {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  width: 100%;
  column-gap: 10px;
  background: linear-gradient(#ffffff, #ffffff) padding-box,
    linear-gradient(20deg, #6c63ff, #69dfff) border-box;
  border: 2px solid transparent;
  border-radius: 15px;

  .todo-item__icon {
    height: 22px;
    cursor: pointer;
  }

  .todo-item__text {
    font-size: 2rem;
    max-width: 70%;
    white-space: nowrap; /* Отменяем перенос текста */
    overflow: hidden; /* Обрезаем содержимое */
    text-overflow: ellipsis;
    margin-right: auto;
  }
}

.todo-item_visible {
  .todo-item__text {
    white-space: wrap;
    overflow: visible;
    text-overflow: clip;
  }
  .todo-item__arrow-icon {
    transform: scale(1, -1);
  }
}
